@media screen and (max-width: 1000px) {
    body{
        width: 94%;
    }

    .video {
        width: 100%;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        margin-bottom: 50px;
        align-content: center;
    }

    .video-list {
        display: flex;
        height: 25vh;
        width: 100%;
        overflow: overlay;
        text-overflow: ellipsis;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .listas{
        width: 100%;
    }

    .video-player {
        display: flex;
        background-color: white;
        align-content: center;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }

    .banner img {
        height: 100px;
    }

    .minute-label {
        font-size: 12px;

    }
    
    .ocultoMovil{
        display: none;
    }

    .yt-target .video-title{
        font-size: 15px;
    }


}

@media screen and (max-width: 700px) {

    body{
        width: 90%;
    }

    .video-list {
        height: 20vh;
        width: 98%;
    }

    .yt-target {
        width: 80%;
    }
    .ocultoMovil{
        display: none;
    }
    .minute-label {
        font-size: 8px;

    }

    .yt-target .video-title{
        font-size: 10px;
    }

    .banner img {
        height: 50px;
    }

}


