body{
    background-image: url("../image/TargaBannerYT.png");
    width: 97%;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    background: white;
    padding: 10px;
    box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.5);
    border: 5px #000000 solid;
    min-width: 320px;
}


.video {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 50px;
    border: 2px #1d202b solid;
    background-color: white;
}

.video-list,
.video-player {
    width: 50%;
}

.video-player{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
}

.lineaDeTiempo {
    width: 100%;
}


.video-list {
    display: flex;
    height: 43vh;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: overlay;
    text-overflow: ellipsis;
    align-items: center;
    background-color: #f7f7f7;
}

.short-list {
    display: flex;
    height: 43vh;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: overlay;
    text-overflow: ellipsis;
    align-items: center;
    background-color: #f7f7f7;
}


.listas h2{
    display: flex;
    flex-direction: column;
    background-color: #313664;
    width: 100%;
    align-items: center;
    background-size: cover;
    color: #f0c52d;
}

.listas{
    border: 2px,solid;
}

.yt-target{    
    display: flex    ;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    max-width: 950px;
    max-height: 200px;
    width: 50vw;
    height: 26vw;
    border: 2px #1d202b solid;
    margin: 5px;
    background-color: #e1e0dc;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5);
    border-radius: 2%;
    align-items: center;
}

.thumbnail-img{
    max-width: 350px;
    max-height: 200px;
    width: 26vw;
    height: 16vw;
    pointer-events: none;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-height: 200px;
    height: 100%;
    flex-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px;
}

.info h3{
    color: #000000;
    pointer-events: none;
}

/* Estilos para la línea de tiempo y marcadores */
#timeline-container {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    border: 1px #1d202b solid;
    background-color: white;
}

#timeline {
    position: absolute;
    width: 100%;
    height: 20%;
    background-color: #f0c52d;
    z-index: 2;
    border-radius: 5px;
}

#progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #e1e0dc;
    z-index: 1;
    border-radius: 5px;    
    pointer-events: none;

}

.minute-marker {
    position: absolute;
    width: 1px;
    height: 5px;
    background-color: #64646414;
    z-index: 10;
    top: 0;
}

.minute-marker-container {
    position: relative;
    height: 100%;
    width: 100%;
    pointer-events: none;

}

.minute-marker,
.minute-label {
    position: absolute;
    height: 100%;
    width: 1px;
    pointer-events: none;

}

.minute-marker {
    background-color: #000000;
}

.minute-label {
    bottom: 20px;
    color: #000000;
    z-index: 11;
    font-weight: 900;
}

/* Estilos para la barra de desplazamiento en navegadores WebKit (Chrome, Safari, etc.) */
::-webkit-scrollbar {
    width: 1px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-button{
    height: 0px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color de fondo de la pista de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
    background: #888; /* Color del "pulgar" de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb:hover {
    background: #000000; /* Cambia el color del "pulgar" cuando se pasa el cursor sobre él */
}

.banner{
    display: flex;
    flex-direction: row;
    background: transparent;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 95vw;
}

.banner img{
    max-height: 220px;
    height: 17vh;
}

#dragInstruction {
    display: none; /* Ocultar inicialmente */
    position: fixed;
    background-color: #e1e0dc;
    padding: 10px 20px;
    border: 2px solid #313664;
    border-radius: 5px;
    color:#000000 ;
    z-index: 1000;
}


.contacto {
        display: flex;
        background-color: #313664;
        color: #f0c52d;
        padding-left: 20px;
        padding-right: 20px;
        border: 2px solid #1d202b;
        border-radius: 10px;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
        text-align: center;
        margin: 5px 0;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
}
.contactos{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.2rem;
}

.contacto2{
    display: flex    ;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 110%;
}

.contacto h2 {
    margin-bottom: 10px;
}

.contacto a {
    color: #f0c52d;
    text-decoration: none;
}

.contacto a:hover {
    text-decoration: underline;
}

.redes-sociales {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.redes-sociales img {
    width: 50px;
    height: 50px;
}

.oculto{
    display: none;
}

.btn-open {
    background-color: #272e6b;
    color: #f0c52d;
    padding: 10px 20px;
    /* border: none; */
    border-radius: 24px;
    cursor: pointer;
    margin: 20px;
    font-weight: 800;
    border: 2px black solid;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
}
.modal-content {
    background-color: #313664;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #f0c52d;
    width: 80%;
    max-width: 600px;
    z-index: 100;
}

.modal-content p,h2 {
    color: #f0c52d;
    text-align: center;
}

.close {
    color: #f0c52d;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.close:hover {
    color: #fff;
}

.tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    background: #313664;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.tab-button {
    padding: 10px;
    background-color: #313664;
    color: #f0c52d;
    cursor: pointer;
    border-radius: 5px;
}

.tab-button:hover {
    background-color: #f0c52d;
    color: black
}

.tab-content {
    display: none;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #ecf0f1;
}

.tab-content.active {
    display: block;
}


/* Estilos flotantes para dispositivos móviles */
@media (max-width: 760px) {
    .contacto {
        display: none;
        bottom: 10px;
        right: 10px;
        width: 80%;
    }
    .oculto{
        display: flex;
    }

    .ocultoEscritorio {
        display: none;
    }

    .visibleMovil {
        position: fixed;
        display: flex;
        z-index: 100;
        flex-direction: column;
        height: 80vh;
        width: 80vw;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
        left: 5%;
    }
    #toggleContactoBtn {
        position: fixed;
        bottom: 10px;
        right: 10px;
        background-color: #313664;
        color: #f0c52d;
        border: 2px solid #1d202b;
        border-radius: 10px;
        padding: 10px 20px;
        z-index: 101;
    }
}

